/*
* Style
*/

/*
* Google font
*/

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Roboto");

/*
* Section - Home
*/

@media (max-width: 575.98px) /*PARA IPHONE - CELULARES*/
/*extra Small devices  - portrait phones */
   /*and (min-width: 576px) and (max-width: 767.98px) /*Small devices  - landscapes phones */
   /*and (min-width: 768px) and (max-width: 991.98px) /*Medium devices - tablets */
   /*and (min-width: 992px) and (max-width: 1199.98px) /*Large Devices - desktops */
   /*and (min-width: 1200px) /*Extra large devices - large desktops */
    {
    #sloganHome{
        position: absolute; 
        width:100%; 
        z-index:2; 
        top:27%;
        right: 10%;
        text-align: right;
        font-size: 1rem !important;
    }
}

/*Small devices  - landscapes phones */
@media (min-width: 576px) and (max-width: 767.98px){
    #sloganHome{
        position: absolute; 
        width:100%; 
        z-index:2; 
        top:27%;
        right: 10%;
        text-align: right; 
    }
}

/*Medium devices - tablets IPAD*/
@media (min-width: 768px) and (max-width: 991.98px){
    #sloganHome{
        position: absolute; 
        width:100%; 
        z-index:2; 
        top:27%;
        right: 10%;
        text-align: right;
    }
}

/*Large Devices - desktops IPAD PRO*/
@media (min-width: 992px) and (max-width: 1199.98px){
    #sloganHome{
        position: absolute; 
        width:100%; 
        z-index:2; 
        top:27%;
        right: 10%;
        text-align: right;
    }
}

/*Extra large devices - large desktops | ESTA ME FUNCIONA EN EL MAC */
@media (min-width: 1200px){
    #sloganHome{
        position: absolute; 
        width:100%; 
        z-index:2; 
        top:27%;
        right: 10%;
        text-align: right;
    }
}

/*
* Section - Home
*/

/** BG Image */
#home {
    background-color: #7E7E7E;
}

/** BG Parallax */
#home-bg-parallax > .bg-parallax {
    background: url("../images/bg-parallax.jpg");
}

/** BG Slider */
#home .flickity-slider > .carousel-cell:nth-child(1) {
    background: url("../images/home/home_v1.jpg");
}
#home .flickity-slider > .carousel-cell:nth-child(2) {
    background: url("../images/home/home_v2.jpg");
}
#home .flickity-slider > .carousel-cell:nth-child(3) {
    background: url("../images/home/home_v3.jpg");
}
#home .flickity-slider > .carousel-cell:nth-child(4) {
    background: url("../images/home/home_v4.jpg");
}

/** BG Slider Orbes*/
#home .flickity-slider > .orbes-cell:nth-child(1) {
    background: url("../images/orbe/home/home_1.1.jpg");
}

/** BG Video */
#home-bg-video .player:before {
    z-index: 15;
}
#home-bg-video .player.is-mobile {
    display: none;
}
#home-bg-video .container {
    position: relative;
    z-index: 20;
}


/*
* Section - Benefits
*/

#benefits {
    background-image: url("../images/bg-benefits.jpg");
}

#nosavantages {
    background-image: url("../images/background/bg-nos_avantages.jpg");
}


/*
* Section - Milestones
*/

#milestones {
    background-image: url("../images/background/bg-random.png");
}


/*
* Section - Pricing
*/

#pricing {
    background-image: url("../images/background/bg-lasalle-1.jpg");
}

/*#courscollectifs {
    background-image: url("../images/background/bg-random-2.png");
}*/

/*
* Section - Contact
*/

.contact-card {
    opacity: 0.98;
    min-height: 140px;
}
.contact-card img {
    left: 0;
    max-height: 100%;
    position: absolute;
    top: 0;
    z-index: 15;
}
.contact-card-block {
    left: 0;
    padding: 0 30px 0 175px;
    position: absolute;
    top: 0;
    z-index: 20;
}
@media (max-width: 575px) {
    .contact-card img {
        display: none;
    }
    .contact-card-block {
        padding: 0 30px;
    }
}

.lf23{
    color: #C52B0A;
}
/*
* Footer
*/

.footer-logo {
    max-height: 40px;
}
.footer-icon-social {
    bottom: 10px;
    position: relative;
}

.scrollspy-example{
    height: 330px;
    overflow: auto;
    position: relative;
}
.scrollspy-example > div {
    width: 95%;
    margin: 5px;
}
#tblNT{
    display: inline-table !important;
}
.hola{height: 200px}

#filters-button-group>.btn:active,
#filters-button-group>.btn.is-checked {
  background-color: #343a40;
}

#filters-button-group .btn {
    margin: 10px;
}

#filters-button-group>.btn.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

/*---------- star rating ----------*/
.star-rating, .back-stars, .front-stars {
  display: flex;
}

.star-rating {
  align-items: center;
  justify-content: center;
}

.back-stars {
  color: #bb5252;
  position: relative;
  text-shadow: 2px 2px 5px #843a3a;
}

.front-stars {
  color: #FFBC0B;
  overflow: hidden;
  position: absolute;
  text-shadow: 2px 2px 5px #d29b09;
  top: 0;
}

.modal, body.modal-open {
    padding-right: 0 !important;
}

body.modal-open {
    overflow: auto;
}

body.scrollable {
    overflow-y: auto;
}

.modal-footer {
    display: flex;
    justify-content: flex-start;
}

.modal-footer .btn {
    position: absolute;
    right: 10px;
}

.btn-close-modal{
    position: absolute;
    left: 97%;
    top: 1%;
    color: #FFF;
}

.body-card {
    position: relative;
}

.destacade {
    font-size: 1.25rem;
    color:white;
    font-weight: bold;
    background-color: #ff5406;
    border-radius: 5px;
}

.wrap {
    font-size: 0.8rem;
    font-weight: bold;
    width: 100%;
    height: 188px;
    position: absolute;
    top: -8px;
    left: 8px;
    overflow: hidden;
}
.wrap:before, .wrap:after {
    content: ""; 
    position: absolute;
}
.wrap:before {
    width: 40px;
    height: 8px;
    right: 100px;
    background: cadetblue;
    border-radius: 8px 8px 0px 0px;
}
.wrap:after {
    width: 8px;
    height: 40px;
    right: 0px;
    top: 100px;
    background: cadetblue;
    border-radius: 0px 8px 8px 0px;
}
.ribbon6 {
    color: white;
    width: 200px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 30px;
    right: -50px;
    z-index: 2;
    overflow: hidden;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border: 1px dashed;
    box-shadow:0 0 0 3px #00B3ED,  0px 21px 5px -18px rgba(0,0,0,0.6);
    background: #00B3ED;
    text-align: center;
}

.ribbon4 {
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    z-index: 2;
  position: absolute;
  top: 15px;
  padding: 8px 10px;
  background: #EDBA19;
  box-shadow: -1px 2px 3px rgba(0,0,0,.3);
}
.ribbon4:before, .ribbon4:after {
  content: "";
  position: absolute;
}
.ribbon4:before {
  width: 7px;
  height: 40px;
  top: 0;
  left: -6.5px;
  padding: 0 0 7px;
  background: inherit;
  border-radius: 5px 0 0 5px;
}
.ribbon4:after {
  width: 5px;
  height: 5px;
  bottom: -5px;
  left: -4.5px;
  background: lightblue;
  border-radius: 5px 0 0 5px;
 }

.cross {
    display: inline-block;
    text-decoration: line-through;
}
.price-obsolete {
    color:#999;
}

.pricing-header {
    width: 100%;
    border-radius: 0 !important;
    font-size: 20px;
}

.check-tarifs {
    width: 20px;
    margin-right: 10px;
}

.ghost-line {
    height: 24px;
}

.subline {
    margin-left: 30px;
}

@media (min-width: 992px) {
    .center-last-line {
        text-align-last: center;
    }
}

.benefits {
    text-align: left;
}

.pricing-body {
    font-family: 'Montserrat';
}

.triangule {
    margin-left: calc(50% - 25px);
    margin-top: -35px;
    width: 0;
    height: 0;
    border-right: 25px solid transparent;
    border-top: 25px solid transparent;
    border-left: 25px solid #C52B0A;
    border-bottom: 25px solid #C52B0A;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}

.btn-pricing-success {
    background-color: #52b86a;
}

.btn-pricing-success:hover {
    background-color: #088A29;
}