/*
* Style
*/

/*
* Google font
*/

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Roboto");

/*
* Section - Home
*/

@media (max-width: 575.98px) /*PARA IPHONE - CELULARES*/
/*extra Small devices  - portrait phones */
   /*and (min-width: 576px) and (max-width: 767.98px) /*Small devices  - landscapes phones */
   /*and (min-width: 768px) and (max-width: 991.98px) /*Medium devices - tablets */
   /*and (min-width: 992px) and (max-width: 1199.98px) /*Large Devices - desktops */
   /*and (min-width: 1200px) /*Extra large devices - large desktops */
    {
    #sloganHome{
        position: absolute; 
        width:100%; 
        z-index:2; 
        top:27%;
        right: 10%;
        text-align: right;
        font-size: 1rem !important;
    }
}

/*Small devices  - landscapes phones */
@media (min-width: 576px) and (max-width: 767.98px){
    #sloganHome{
        position: absolute; 
        width:100%; 
        z-index:2; 
        top:27%;
        right: 10%;
        text-align: right; 
    }
}

/*Medium devices - tablets IPAD*/
@media (min-width: 768px) and (max-width: 991.98px){
    #sloganHome{
        position: absolute; 
        width:100%; 
        z-index:2; 
        top:27%;
        right: 10%;
        text-align: right;
    }
}

/*Large Devices - desktops IPAD PRO*/
@media (min-width: 992px) and (max-width: 1199.98px){
    #sloganHome{
        position: absolute; 
        width:100%; 
        z-index:2; 
        top:27%;
        right: 10%;
        text-align: right;
    }
}

/*Extra large devices - large desktops | ESTA ME FUNCIONA EN EL MAC */
@media (min-width: 1200px){
    #sloganHome{
        position: absolute; 
        width:100%; 
        z-index:2; 
        top:27%;
        right: 10%;
        text-align: right;
    }
}

/*
* Section - Home
*/

/** BG Image */
#home {
    background-color: #7E7E7E;
}

/** BG Parallax */
#home-bg-parallax > .bg-parallax {
    background: url("../images/bg-parallax.jpg");
}

/** BG Slider */
#home .flickity-slider > .carousel-cell:nth-child(1) {
    background: url("../images/home/home_v1.jpg");
}
#home .flickity-slider > .carousel-cell:nth-child(2) {
    background: url("../images/home/home_v2.jpg");
}
#home .flickity-slider > .carousel-cell:nth-child(3) {
    background: url("../images/home/home_v3.jpg");
}
#home .flickity-slider > .carousel-cell:nth-child(4) {
    background: url("../images/home/home_v4.jpg");
}

/** BG Video */
#home-bg-video .player:before {
    z-index: 15;
}
#home-bg-video .player.is-mobile {
    display: none;
}
#home-bg-video .container {
    position: relative;
    z-index: 20;
}


/*
* Section - Benefits
*/

#benefits {
    background-image: url("../images/bg-benefits.jpg");
}

#nosavantages {
    background-image: url("../images/background/bg-nos_avantages.jpg");
}


/*
* Section - Milestones
*/

#milestones {
    background-image: url("../images/background/bg-random.png");
}


/*
* Section - Pricing
*/

#pricing {
    background-image: url("../images/background/bg-lasalle-1.jpg");
}

/*#courscollectifs {
    background-image: url("../images/background/bg-random-2.png");
}*/

/*
* Section - Contact
*/

.contact-card {
    opacity: 0.98;
    min-height: 140px;
}
.contact-card img {
    left: 0;
    max-height: 100%;
    position: absolute;
    top: 0;
    z-index: 15;
}
.contact-card-block {
    left: 0;
    padding: 0 30px 0 175px;
    position: absolute;
    top: 0;
    z-index: 20;
}
@media (max-width: 575px) {
    .contact-card img {
        display: none;
    }
    .contact-card-block {
        padding: 0 30px;
    }
}

.lf23{
    color: #C52B0A;
}
/*
* Footer
*/

.footer-logo {
    max-height: 40px;
}
.footer-icon-social {
    bottom: 10px;
    position: relative;
}

.scrollspy-example{
    height: 330px;
    overflow: auto;
    position: relative;
}
.scrollspy-example > div {
    width: 95%;
    margin: 5px;
}
#tblNT{
    display: inline-table !important;
}
.hola{height: 200px}

#filters-button-group>.btn:active,
#filters-button-group>.btn.is-checked {
  background-color: #343a40;
}

#filters-button-group .btn {
    margin: 10px;
}

#filters-button-group>.btn.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

/*---------- star rating ----------*/
.star-rating, .back-stars, .front-stars {
  display: flex;
}

.star-rating {
  align-items: center;
  justify-content: center;
}

.back-stars {
  color: #bb5252;
  position: relative;
  text-shadow: 2px 2px 5px #843a3a;
}

.front-stars {
  color: #FFBC0B;
  overflow: hidden;
  position: absolute;
  text-shadow: 2px 2px 5px #d29b09;
  top: 0;
}